body {
    background-color: #f0f8ff; /* Color celeste para el fondo */
    font-family: Arial, sans-serif; /* Tipo de fuente para todo el documento */
    margin: 0; /* Eliminar márgenes por defecto */
    padding: 0; /* Eliminar relleno por defecto */
}

header {
    background-color: #7ec8e3; /* Color celeste para la cabecera */
    padding: 10px; /* Espacio interno dentro de la cabecera */
    text-align: center; /* Centrar el texto dentro de la cabecera */
}

nav ul {
    list-style-type: none; /* Eliminar viñetas de la lista */
    padding: 0; /* Eliminar relleno por defecto */
    text-align: center; /* Centrar los elementos de la lista */
}

nav ul li {
    display: inline; /* Mostrar elementos de lista en línea */
    margin-right: 10px; /* Espacio entre elementos de lista */
}

nav ul li a {
    text-decoration: none; /* Eliminar subrayado de enlaces */
    color: #333; /* Color de texto para los enlaces */
}

.centrar-texto {
    text-align: center;
}
.m1 {
    padding: 10px;
    text-align: center;
}

.mh2 {
    text-align: center;

}